body {
  background: blanchedalmond;
}

* {
  border:1px solid black;
  text-align:center;
}

.container {
  display: flex;
  min-height: 100vh;
  width:100%;
  flex-direction: column;
  justify-content:center;
  text-align:center;
}

.a, .b, .c{
  margin:0.5em;
}

.a,.c{
  flex-grow:1;
}

.b{
  flex-grow:3;
}

@media (min-width: 600px) {
  .container{   
    flex-direction: row;
    flex-wrap: wrap;
  }

  .a {
    width: 100%;
  }
}  